:root{
    /* colors */
    --mint-green: #54E6AF;
    --dark-blue: #121725;
    --white: #FFFFFF;
    --light-blue: #2c344b;
    --skyblue: #c2cbe5;
    --light-purple: #5a668a;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Chivo', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-image: url('../assets/mobile/image-host.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

body::before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(18, 23, 37, 0.9);
}

.header_container{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    min-width: 280px;
    height: 257px;
    justify-content: center;
    text-align: center;
}

header img{
    width: 135px;
    height: 56px;
    margin-top: 61px;
    align-self: center;

}

.header_title_container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 141px;
    margin: 0 auto;
    margin-top: 65px;
    text-align: center;
    align-self: center;

}

.header_title_container h1{
    font-size: 2.6rem;
    line-height: 3.8rem;
    font-weight: 300;
    color: var(--mint-green);
}

.header_container h1 p{
    color: var(--white);
}

main{
    position: relative;
    width: 100%;
    height: auto;
}

.main_description_container .main_description_title_container{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    
    

}

.main_description_title_container p{
    width: 85%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 300;
    color: var(--skyblue);
    

}

.main_description_logos_container{
    display: flex;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    margin-top: 35px;
    
}

.main_description_logos_container .spotify{
    display: inline-flex;
    flex-grow: 1;
    width: auto;
    height: 18px;
    background-image: url('../assets/desktop/spotify.svg');
    background-size: 56px 17px;
    background-position: 75% 0;
    background-repeat: no-repeat;
    
}

.main_description_logos_container .apple{
    display: inline-flex;
    flex-grow: 1;
    width: auto;
    height: 18px;
    background-image: url('../assets/desktop/apple-podcast.svg');
    background-size: 45px 17px;
    background-position: center;
    background-repeat: no-repeat;
    
}

.main_description_logos_container .google{
    display: inline-flex;
    flex-grow: 1;
    width: auto;
    height: 18px;
    background-image: url('../assets/desktop/google-podcasts.svg');
    background-size: 73px 11px;
    background-position: left;
    background-repeat: no-repeat;
    
}

.main_description_logos_container .pocket{
    display: inline-flex;
    flex-grow: 1;
    width: auto;
    height: 18px;
    background-image: url('../assets/desktop/pocket-casts.svg');
    background-size: 75px 14px;
    background-position: left;
    background-repeat: no-repeat;
    
}

.main_form_container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 45px;
    text-align: center;
}

.main_form_container form{
    margin: 0 auto;
}

.main_form_container form label{
    display: flex;
    flex-direction: column;
    width: 326px;
    margin: 0 auto;

}

.main_form_container form label input{
    height: 46px;
    border-radius: 5rem;
    margin-bottom: 15px;
    background-color: var(--light-blue);
    border: 0;
    font-weight: 700;
    font-family: 'Chivo', sans-serif;
    padding-left: 33px;
   
}

.main_form_container form label input::placeholder{
    color: #c2c2c2;
    
    
}

.main_form_container form label button{
    height: 46px;
    border-radius: 5rem;
    /* font-family: 'Chivo', sans-serif; */
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.8rem;
    background-color: var(--mint-green);
    border: 0;
    color: var(--dark-blue);
}